*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat';
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}


img{
    width: 30px;
}

.content-product{
    width: 100%;
    background-image: url(/img/fondo.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
}

.logo{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}
.logo img{
    width: 130px;
}
.logo a{
    position: absolute;
    top: 30%;
    left: 20px;
    background-color: white;
    border-radius: 50%;
}
.logo a img{
    width: 40px;
}
.content-product-descri{
    width: 100%;
    display: flex;
}

.content-img{
    width: 50%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.content-img img{
    width: 70%;
}
.sub-img{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.sub-img img{
    width: 60px;
    cursor: pointer;
}

.mensaje{
    margin-top: 20px;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**/
.product-content-info{
    padding-top: 10px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.product-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-info ul{
    padding-left: 20px;
}
.product-info h2{
    font-weight: 400;
    font-size: 36px;
}
.product-info p{
    line-height: 25px;
    font-size: 16px;
}

.product-personalizar{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.product-personalizar h2{
    font-weight: 400;
}
.sabor-product{
    display: flex;
    gap: 10px;
}

.cantidad-product{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 10px;
}
.cantidad-main{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.item-can{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.can2{
    color: white;
    background-color: black;
    cursor: pointer;
}

.content-product-precio{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-product-precio .span{
    font-size: 20px;
}
#botonComprar{
    padding: 10px 20px;
    background-color: black;
    color: white;
    margin-right: 50px;
    cursor: pointer;
}

/*-----footer-----*/

.footer{
    width: 100%;
}

.main-footer{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.content-footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-horario h2{
    margin-bottom: 10px;
}
.footer-contactos h2{
    margin-bottom: 10px;
}
.medio-pago{
    margin-top: 10px;
}
.footer-redes h2{
    margin-bottom: 10px;
}

.derechos{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*---------media querys-----*/

@media only screen and (max-width: 700px){
    .content-product-descri{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-img{
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mensaje{
    margin-top: 20px;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.product-content-info{
    padding-top: 10px;
    padding: 0px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#botonComprar{
    padding: 10px 20px;
    background-color: black;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}
}
