*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat';
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

img{
    width: 30px;
}

.content-body{
    position: relative;
}



/*-----header-----*/
.header{
    width: 100%;
    position: relative;
}

.fondo-header{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.header-head{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-head img{
    width: 150px;
}

.header-body{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-body-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center ;
}
.header-body-img img{
    width: 70%;
}
.header-body-descri{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.header-body-descri h1{
    font-size: 50px;
    font-weight: 400;
}
.header-body-descri p{
    font-size: 20px;
}
.header-body-descri .a{
    padding: 10px 20px;
    background-color: white;
}

/*-----main-----*/

.main{
    width: 100%;
    position: relative;
}
.titulo-main{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-card-main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    position: relative;
}
.card{
    width: 300px;
    height: 400px;
}

.card-img{
    width: 100%;
    height: 70%;
    background-color: aliceblue;
}
.card-img img{
    width: 100%;
    height: 100%;
}
.card-info{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-info a{
    padding: 10px 20px;
    background-color: black;
    color: white;
}



/*-----------------------------*/
.content-productoRelacionado{
    width: 100%;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-size: cover;
}
.titulo-desayunos{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-desayunos h2{
    font-size: 40px;
}

.content-card-desayunos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.card-desayunos{
    width: 250px;
    height: 300px;
}
.card-desayunos-img{
    width: 100%;
    height: 60%;
}
.card-desayunos-img img{
    width: 100%;
    height: 100%;
}
.card-desayunos-info{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-desayunos-info a{
    background-color: black;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}


/*-----footer-----*/

.footer{
    width: 100%;
}

.main-footer{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.content-footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-horario h2{
    margin-bottom: 10px;
}
.footer-contactos h2{
    margin-bottom: 10px;
}
.medio-pago{
    margin-top: 10px;
}
.footer-redes h2{
    margin-bottom: 10px;
}

.derechos{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*---------media querys-----*/

@media only screen and (max-width: 700px){
    .header-body{
        position: relative;
        z-index: 2;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-body-img{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content:center ;
    }
    .header-body-img img{
        width: 80%;
    }
    .header-body-descri{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18px;
    }
    .header-body-descri h1{
        font-size: 50px;
        font-weight: 400;
    }
    .header-body-descri p{
        font-size: 20px;
    }
    .header-body-descri .a{
        padding: 10px 20px;
        background-color: white;
    }

    .content-card-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 50px;
        position: relative;
    }

    .content-card-desayunos{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 30px;
    }
}